/* Base Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

/* Container Styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f5;
  min-height: 100vh;
}

/* Button Container Styles */
.button-container {
  display: flex;
  flex-direction: column;  /* Stack vertically on mobile */
  gap: 10px;
  width: 100%; 
  max-width: 300px;  /* Constrain width on larger screens */
  margin-bottom: 20px;
}

.button-container-large {
  display: flex;
  flex-direction: column;  /* Stack vertically on mobile */
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

/* Button Styles */
.blue-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  outline: none;
  width: 100%;  /* Full width on mobile */
}

.large-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  outline: none;
  width: 100%; /* Full width on mobile */
}

.blue-button:hover, .large-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(0, 123, 255, 0.3);
}

.blue-button:active, .large-button:active {
  transform: translateY(2px);
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
}

/* Popup Styles */
.pincode-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 300px;
}

.pincode-popup input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pincode-popup button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.pincode-popup .error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.pincode-popup button:hover {
  transform: translateY(-2px);
}

.pincode-popup button:active {
  transform: translateY(2px);
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .App {
    padding: 20px;
  }

  .button-container, .button-container-large {
    flex-direction: row;  /* Change to row layout on larger screens */
    justify-content: center;
    gap: 15px;
  }

  .button-container-large {
    margin-top: 30px;
  }

  .blue-button, .large-button {
    width: auto;  /* Let the buttons shrink to fit content on larger screens */
    min-width: 120px;  /* Ensure a minimum width */
  }
}
